# Python
__pycache__/
*.py[cod]
*.sqlite3
.env

# Django static files
/staticfiles

# Node
node_modules/
dist/

# OS
.DS_Store

# VSCode
.vscode/

# Virtualenv
venv/

# Angular
task-manager-frontend/node_modules/
task-manager-frontend/dist/
